:root {
    Color-scheme: dark light;
    overflow-x:hidden;
}

html {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

body {
    margin:0;
    padding:0;
}


header {
    display:flex;
    background-color: rgba(71, 70, 81, 0.292);
    width:100%;
    height: 55px;
    justify-content: space-between;
}

header h1 {
    font-size:35px;
    color:rgb(202,142,113);
    margin-left:10px;
    align-self:center;
    user-select:none;
    font-family: 'Montserrat', sans-serif;
}

#titulo {
    display:flex;
    text-decoration: none; 
}

.botones {
    display:flex;
    width:100%;
    gap:25px;
    margin-right:20px;
    align-self:center;
    justify-content:end;
}

.botones button {
    height:30px;
    font-size:18px;
    font-weight: bold;
    color:rgb(202,142,113);
    background:transparent;
    border:none;
    cursor: pointer;
}

.botones-izquierda {
    margin-left:60px;
    margin-right:auto;
    align-self:center;
}

.boton-link {
    display: inline-block;
    text-decoration: none; 
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(48, 47, 57);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal label {
    text-align:start;
    margin-bottom:-7px;
}

.close {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    margin-top:7px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(202,142,113);
    color: white;
}

button:hover {
    background-color: rgba(54, 47, 40,0.5);
    border-radius:6px;
}

form button:hover {
    background-color: rgb(227, 169, 139);   
}

#user-icon {
    background:none;
    cursor: pointer;
}

#user-icon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#user-icon img:hover {
    background:rgba(75, 65, 54, 0.7);
}

.error-message {
  position: absolute;
  bottom:105%;
  width:300px;
  height:auto;
  background-color:rgb(225, 72, 72);
  color: white;
  border-radius:5px;
  margin-top: 8px;
  font-size: 1em;
}

.error-message {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.error-message.fade-out {
  opacity: 0;
}

.password-tooltip {
  display: none;
  position: absolute;
  top: 53.2%;
  left: 98%;
  margin-top: 4px;
  width: 220px;
  background-color: #f697ff;
  border: 1px solid #ccc;
  font-size: 0.85em;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 10;
}

#logo {
    width: 50px;
    height: 50px;
    align-self:center;
    margin-left:15px;
}

#botones {
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s;
}

#botones.visible {
  opacity: 1;
  transform: translateY(0);
}

#user-menu {
    position: absolute; 
    width:180px;
    top: 60px; 
    right: 0px; 
    background-color: rgba(61, 61, 70, 0.5);
    border-radius: 5px; 
    z-index: 1000;
}

#perfil-btn {
    margin-top:10px;
    display: block; 
    width: 100%; 
    padding: 8px; 
    border: none; 
    background: none; 
    text-align: left;
}

#perfil-btn:hover {
    background-color: rgba(54, 47, 40,0.5);
}

#logout-btn:hover {
    background-color: rgba(54, 47, 40,0.5);
}

#logout-btn {
    margin-top:10px;
    margin-bottom:10px;
    display: block; 
    width: 100%; 
    padding: 8px; 
    border: none; 
    background: none; 
    text-align: left;
}

#perfil-btn img {
    width: 20px;
    height: 20px;
    margin-right:7px;
}

#logout-btn img {
    width: 18px;
    height: 18px;
    margin-right:7px;
}

#user-menu button {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size:16px;
}

#carrusel {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

#carrusel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width:100%;
}

.carrusel-item {
  width: calc(100% / 6);
  text-align: center;
  flex-shrink: 0;
}

.carrusel-item h3 {
    margin-top:6.5px;
    color:rgb(202, 142, 113);
}

.carrusel-item img {
  width: 260px;
  height: 380px;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  user-select: none;
}

.carrusel-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 5px rgba(202, 142, 113, 0.3);
}

.boton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.boton.izquierda {
  left: 10px;
}

.boton.derecha {
  right: 10px;
}

#listado-animes {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 7%;
}

#listado-animes-container {
  display: flex;
  width:100%;
  flex-wrap:wrap;
  justify-content: center;
  gap:50px;
}

#listado-animes-container img {
  width: 260px;
  height: 380px;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  user-select: none;
}

.listado-animes-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 5px rgba(202, 142, 113, 0.3);
}

.listado-animes-item h3 {
  margin-top:6.5px;
  color:rgb(202, 142, 113);
}

#filtro-listado {
  display: flex;
  margin-left:100px;
  margin-bottom:-100px;
  gap:40px;
  font-size:22px;
  color:rgb(202, 142, 113);
  font-weight: bold;
}


#filtro-div h2 {
  margin-left:70px;
  color:rgb(202, 142, 113);
}

#filtrar {
  display: flex;
  align-items: center;
  background: rgb(71, 70, 81);
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
  margin-top:2px;
  border: 1px inset rgb(202, 142, 113);
}

#filtrar:active {
    background: rgb(54, 47, 40);
}

#filtro-img {
    width:19px;
    height:19px;
    margin-right:7px;
}

#filtro-listado {
    display: flex;
    align-items:center;
}

#filtro-categoria-default {
    background-color: rgb(71, 70, 81);
    padding-left:8px;
    padding-right:8px;
    color:white;
    font-weight:lighter;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    display:flex;
    text-align:center;
    align-items:center;
    margin-left:-20px;
    height:24px;
    margin-top:5px;
    border: 1px inset rgb(202, 142, 113);
}

#filtro-categoria-opciones {
  background-color: rgb(71, 70, 81);
  position: absolute;
  border-radius:5px;
  padding:5px;
  margin-top:300px;
  z-index:10;
  width:330px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  color:white;
  font-size:18px;
  font-weight:normal;
}


#flecha-abajo {
  margin-left:15px;
  width:14px;
  height:14px;
}

#filtro-categoria-opciones-container {
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content: center;
    row-gap:20px;
}

.filtro-categoria-opciones-item {
    width:100px;
    font-size:15px;
    padding:0;
    margin:0;
    margin-left:8px;
}

.filtro-categoria-opciones-item input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

#ordenar-default {
    background-color: rgb(71, 70, 81);
    padding-left:8px;
    padding-right:8px;
    color:white;
    font-weight:lighter;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    display:flex;
    text-align:center;
    align-items:center;
    margin-left:-20px;
    height:24px;
    margin-top:5px;
    border: 1px inset rgb(202, 142, 113);
}

#ordenar-opciones {
  background-color: rgb(71, 70, 81);
  position: absolute;
  border-radius:5px;
  padding:5px;
  margin-top:240px;
  z-index:10;
  width:130px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  color:white;
  font-size:15px;
  font-weight:normal;
  margin-left:420px;
}


#ordenar-opciones-container {
  display:flex;
  flex-direction:column;
  row-gap:10px;
}

.ordenar-opciones-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
  user-select: none;
}

#perfil-grid {
  width:70vw;
  height:80vh;
  margin-left:15%;
  margin-top:3.5%;
  display: grid;
  grid-template-columns: 1fr 0.2fr 2fr 1.8fr;
  grid-template-rows: 1fr 0.2fr 1.8fr 1fr;
  gap:15px;
}

.perfil-grid-item {
  background-color: rgba(1,0,1,255);
  border-radius: 5px;
  box-shadow: 0 0 0 0.4px rgba(137,100,86,255);
}

#perfil-grid-imagen {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
#perfil-grid-datos {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
#perfil-grid-banner {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
#perfil-grid-listados{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
#perfil-grid-ranking {
  grid-column: 3 / 5;
  grid-row: 2 / 5;
}
#perfil-grid-seguridad {
  grid-column: 1 / 3;
}
#perfil-grid-logo {
  grid-row:2/3;
  grid-column:2/3;
}
#perfil-grid-logo img {
  margin-left:7.5px;
}

#banner {
  width:100%;
  height:100%;
  border-radius: 5px;
  -webkit-user-select: none;
  user-select: none;
}

#perfil-grid-datos {
  display:flex;
  flex-direction: column;
  gap: 10px;
  text-indent: 10px;
  font-size:25px;
  font-weight: bold;
  color:rgba(240,218,183,255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#perfil-grid-datos p {
  margin-top:130px;
}

#perfil-grid-datos span {
  margin-top:10px;
}

.edit {
  width:35px;
  height:35px;
  border:none;
  background:none;
  cursor: pointer;
  margin-right:10px;
  margin-top:5px;
}

#edit-imagen {
  width:25px;
  height:25px;
  justify-self:center;
  align-self:center;
}

.perfil-grid-datos-item {
  display:flex;
  justify-content: space-between;
}